@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-position: center;
    background-image: url('../img/coffee1.jpeg');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    border: 2px solid #8c969ce5;
    color: #8c969c;
    padding: 2rem;
    background-color: #4c3e33af;
    text-transform: uppercase;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

.intro-text {
    background-color: #63513d;
    color: #c2ae96;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/coffee3.jpeg);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    border: 2px solid #90391647;
    color: #3b2b24;
    padding: 2rem;
    background-color: #8b725faf;
    text-transform: uppercase;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #8c7c6a;
    color: #c2ae96;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #443d44;
    color: #847d84;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #847d84;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #8a8073;
    color: #c2ae96;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/cofee4.jpg);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    border: 2px solid #69321d;
    color: #d6d6d6;
    padding: 2rem;
    background-color: #ad522e53;
    text-transform: uppercase;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.estonia {
    font-size: 0rem;
    float: right;
    margin-left: 9px;
}

span {
    display: inline-block;
    font-size: 3rem;
}